html {
    font-family: "Segoe UI";
}

.top_line div {
    max-height: 180px;
    height: 180px;
}

.logo {
    background: url(../img/logo.png) no-repeat 0% 0%;
}

.main_menu {
    font-size: 19px;

}

.nav_alt_for_IE8 ul li {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
    margin-right: 40px;
    color: #c9cecf;
    font-stretch: ultra-condensed;
}

.banner div {
    min-height: 315px;
    height: 315px;
    box-sizing: border-box;
}

.icon {
    background: url("../img/icon.png") no-repeat 113px 0%;
    position: relative;
    top: 39px;
}

.top_back {
    background: white url(../img/back.gif) no-repeat;
    background-size: 100%;
}

.advert {
    padding-top: 60px;
    padding-left: 15px;
    color: white;
}

.advert_1 {
    font-size: 43px;
    font-weight: bold;

}

.advert_2 {
    font-size: 33px;
}

.selection_panel {
    margin-top: 61px;
    box-sizing: border-box;
}

.selection_panel div {
    height: 306px;
    max-height: 306px;
    box-sizing: border-box;
    border-bottom: 3px solid #e5e5e5;
    font-size: 16px;
    text-align: center;
    padding-top: 191px;
    color: #5c5b5b;
}

.selection_panel div span {
    font-size: 21px;
}

.selection_panel div.selected,
.selection_panel div:hover {
    border: 3px solid #e5e5e5;
    border-bottom-style: none;
    font-weight: bold;
}


.elem-1 {
    background: url(../img/elem-1.png) no-repeat 51px 25px;

}

.elem-2 {
    background: url(../img/elem-2.png) no-repeat 51px 25px;
}

.elem-3 {
    background: url(../img/elem-3.png) no-repeat 51px 25px;
}

.elem-4 {
    background: url(../img/elem-4.png) no-repeat 51px 25px;
}

.tablet {
    padding-top: 50px;
    text-align: center;
}

.article h1 {
    font-weight: normal;
    font-size: 30px;
    color: #4f4f4f
}

.article p {
    padding-top: 30px;
    font-size: 13px;
    color: #8b8b8b
}

.article > div {
    padding: 54px;
    border: solid #e5e5e5 3px;
    box-sizing: border-box;
}

.lorem_list h1 {
    font-weight: normal;
    font-size: 30px;
    color: #4f4f4f;
    padding-bottom: 25px;
}

.lorem_list {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 13px;
}

ul li {
    list-style-image: url("../img/list.jpg ");
    padding-bottom: 15px;
    color: #a2a1a1;
}

ul span {
    position: relative;
    top: -4px;
}

.auth,
.email {
    height: 106px;
    border-radius: 10px;
}

.auth h1,
.email h1 {
    position: relative;
    top: 15px;
    left: 28px;
    font-weight: lighter;
    font-size: 25px;
    color: #fdf3ef;
}

.auth {
    background-color: #e67624;
}

#login,
#email,
#password {
    position: relative;
    top: 27px;
    left: 28px;
    margin-right: 7px;
    width: 141px;
    min-heigth: 25px;
    height: 25px;
    background-color: #fdf3ef;
    border: none;
    font-size: 14px;
    padding-left: 13px;
    box-sizing: border-box;
}

#auth_submit,
#email_submit {
    width: 104px;
    height: 29px;
    border-radius: 0px;
    color: #fdf3ef;
    position: relative;
    top: 27px;
    left: 30px;
    border: none;
}

#auth_submit {
    width: 89px;
    background-color: #444444;
}

#email_submit {
    width: 105px;
    background-color: #029bb1;
}

.email {
    float: right;
    background-color: #01d4f3;
    width: 441px;
    height: 103px;
}

#email {
    width: 249px;
    height: 25px;
    margin-right: 30px;
}

.auth {
    margin-bottom: 33px;
}

.divide {
    height: 2px;
    color: #e5e5e5;
    background-color: #e5e5e5;
    margin-bottom: 21px;
}

.about_us {
    box-sizing: border-box;
    font-size: 11px;
    color: #abaaab;
    padding-top: 33px;
    padding-left: 42px;
    padding-bottom: 44px;
}

.about_us span {
    font-size: 18px;
    color: white;
}

.back_foot {
    background: url("../img/back_foot.png");
}

.footer_logo {
    background: url(../img/logo.png) no-repeat 0% 0%;
    height: 180px;
}

.try-demo-button {
    display: block;
    text-align: center;
    margin-top: 31px;
    border-style: solid;
    border-width: 4px;
    border-color: #222824;
    background-color: #12b367;
    width: 130px;
    height: 37px;
    font-size: 21.22px;
    font-weight: 300;
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.5);
}

.try-demo-button:hover {
    opacity: 1;
}
